# dependencies
node_modules/
.pnpm-store/

# build
dist/
.next/
.turbo/

# env
.env
.env.local
.env.*.local

# ide
.vscode/
.idea/
*.swp
*.swo

# os
.DS_Store
Thumbs.db

# testing
coverage/

# prisma
prisma/dev.db
prisma/dev.db-journal
